<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href='/passport/signup'>Go to signup</a>
<br>
<a href='/passport/login'>Go to login</a>
<br>
<a href='/passport/logout'>Go to logout</a>
<br>
<br>
<br>
<a href='/passport/private'>Go to private</a>


